body {
    background-color:black;
    border: 20px solid black;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background:rgb(132, 6, 132);
    border: 10px solid rgb(255, 0, 89);
    height: 125px;
    width: 250px;
    margin: 0%;
    flex: 1 1 auto;
}

.flex-container .ONE {
    flex-shrink: 0;
}

.flex-container2 {
    display: flex;
}

.flex-container2 div {
    background:purple;
    border: 10px solid rgb(255, 0, 89);
    height: 125px;
    width: 250px;
    margin: 0%;
    flex: 1 1 auto;
}

.flex-container2 .two {
    flex-shrink: 0;
}
p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 0, 174);
}

button {
    border: 4px double red ;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
    color: rgb(255, 0, 174);
    background-color: black;
}

button:hover {
    border: 4px double red ;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 0, 174);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}